* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-family: cursive;
  }
body{
    min-height: 100vh;
    /* background-color: rgb(218, 122, 122); */  
}


header {
    position: relative;
    display: inline-block;
    width: 100%;
}
nav{
    /* background-color: rgb(105, 95, 95); */
    position: relative;
    top: 1rem;
    z-index: 20;
    text-align: right;
    height: 10vh;
}
nav a{
    position: relative;
    display: inline-block;
    background-color: #4476f5;
    padding: 10px;
    text-align: center;
    right: 6rem;
    top: -2rem;
    border: black;
    width: 8rem;
    height: 3rem;
    border-style: solid;
    box-shadow: 4px 5px rgb(0 0 0 / 50%);
    margin: 5px;
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a[href="#"]{
    background-color: #6fac46;
}
h1{
    position: relative;
    padding: 1rem 5rem;
    font-size: 3rem;
 }
header img{
    position: relative;
    width: 100%;
    height: 70vh;
    padding: 0px;
    top: -3rem;
}
header h2{
    position: relative;
    padding: 1px;
    background: white;
    text-align: -webkit-center;
    top: -3.3rem;
    border: black solid;
}


main{
    width: 90vw;
    min-height: 60vh;
    /* background-color: rgb(105, 201, 230); */
    margin-top: -3rem;
    padding-left: 3rem;
    display: inline-block;
}
main img{
    display: inline-block;
    width: 150px;
    margin-right: 4rem;
    /* position: relative; */
    vertical-align: top;
}
main div{
display: inline-block;
vertical-align: top;
}
aside{
    display: inline-block;
    position: relative;
    top: 3rem;
    width: 65vw;
}
h3{
    font-family: cursive;
}
main p{
    position: relative;
    margin-bottom: 2rem;
    left: 1.5rem
}
/* footer{
    min-height: 5vh;
    color: rgb(12, 189, 12);
    background-color: rgb(99, 93, 93);
    font: bold;
    padding: 5px;
    margin-top: 2px;
    text-align: center;
} */

